name: Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Check formatting
      run: dotnet format --verify-no-changes

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Run unit tests
      run: dotnet test --project tests/UnitTests/UnitTests.csproj --configuration Release --no-build

    - name: Run integration tests
      run: dotnet test --project tests/IntegrationTests/IntegrationTests.csproj --configuration Release --no-build

    - name: Run functional tests
      run: dotnet test --project tests/FunctionalTests/FunctionalTests.csproj --configuration Release --no-build